<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link href="css/reset.css" rel="stylesheet" type="text/css" />
	<link href="css/login.css" rel="stylesheet" type="text/css" />
	<title>豆瓣LRC</title>
</head>
<body>
	<div class="wrap" id="wrap">
		<div class="login-wrap">
			<form class="login" action="" method="post">
				<p><input type="text" class="textbox" name="usrn" value="" placeholder="用户名" /></p>
				<p><input type="password" class="textbox" name="pswd" value="" placeholder="密码" /></p>
				<p><input type="submit" class="button" value="注册" /></p>
			</form>
		</div>
	</div>
</body>
</html>
